html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

h1,
kbd {
    font-family: 'Monoton', cursive;
}

h1 {
    font-size: 8rem;
    letter-spacing: 3px;
    font-weight: 400;
    text-shadow: -1px 0 $mainColor,0 1px $mainColor,1px 0 $mainColor,0 -1px $mainColor;
    margin: 0;
}

h3 {
    letter-spacing: 1rem;
    margin: 0;
    font-weight: bold;
    text-shadow: -1px 0 $lightColor,0 1px $lightColor,1px 0 $lightColor,0 -1px $lightColor;
}

.sound {
    color: $mainColor;
}

kbd {
    font-size: 4rem;
}